<!DOCTYPE html>
<html>

    <head>
        <title>Shipping Form</title>
        <link rel="stylesheet" href="">
    </head>

    <body class="body">
        <header>
            <div class="information">
                <p>there is a metric shit ton of information just copy later</p>
            </div>
        </header>
        <div class="container">
            {% block content %}
            <div class="pageTitle">
                <h1>Receiver Information</h1>
            </div>
            <div class = "declaration">
                <form action = "" method="post">
                {{ form.hidden_tag() }}

                <p>
                    Fireworks, ammunition, sporting ammunition, firearms, or explosives
                    {{form.q1()}}
                </p>
                <p>
                    Cylinders of compressed air, oxygen, or liquid petroleum gas (LPG) 
Any type of aerosol can (eg. Deodorant, shaving cream, hair spray, paint etc)
                    {{form.q2()}}
                </p>
                <p>
                    Camping stoves, Cigarette/Pipe lighters or cigarette lighter refills
                    {{form.q3()}}
                </p>
                <p>
                    Cosmetics (eg. Nail polish, colognes, perfumes, nail polish remover)
                    {{form.q4()}}
                </p>
                <p>
                    Paint, fuel or paint thinners
                    {{form.q5()}}
                </p>
                <p>
                    Matches
                    {{form.q6()}}
                </p>
                <p>
                    Dry Ice, specimens, or samples
                    {{form.q7()}}
                </p>
                <p>
                    Detergents, bleaches, drain or oven cleaners
                    {{form.q8()}}
                </p>
                <p>
                    Fiberglass repair kits, adhesives, and puncture repair kits
                    {{form.q9()}}
                </p>
                <p>
                    Medicines containing alcohol
                    {{form.q10()}}
                </p>
                <p>
                    Any type of chemical, pesticides, herbicides etc
                    {{form.q11()}}
                </p>
                <p>
                    Camping equipment (eg. Gas stoves, gas cylinders)
                    {{form.q12()}}
                </p>
                <p>
                    Diving equipment (eg. Air tanks)
                    {{form.q13()}}
                </p>
                <p>
                    Refrigerator, Batteries, any type
                    {{form.q14()}}
                </p>
                <p>
                    Machinery with internal combustion engines such as chainsaws, lawnmowers Or garden trimmers.
                    {{form.q1()}}
                </p>
                

                <p>
                    name:
                    {{form.shipperNameSign()}}
                </p>
                <p>
                    date:
                    {{form.date()}}
                </p>
                
                <p>{{ form.submit() }}</p>
                </form> 
            </div>
        {% endblock %}
        </div>
    </body>

</html>